{% extends 'base.html.twig' %}
{% block pageheader %}Ajouter un utilisateur{% endblock %}
{% block body %}


    <form  name="adminbundle_personnelmarel" class="form-signup" id="form" action="{{ path('utilisateur_new')}}" class="form-signup"  method="POST">
        <input type='hidden' id="addoredit" value="add">
        <div class="" id="adminbundle_personnelmarel">

            <div class="row form-group" >
                <div class="col-sm-6">
                    <div class="form-group ">
                        

                        <input type="text" id="utilisateur_prenom" name="utilisateur[prenom]" required="required" maxlength="255" placeholder="Prénom" class="form-control" />                            </div>

                </div>
                <div class="col-sm-6">
                    <div class="form-group">

                        <input type="text" id="utilisateur_nom" name="utilisateur[nom]" required="required" maxlength="255" placeholder="Nom" class="form-control" /> 

                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-6">
                    <div class="form-group">

                        <input type="text" id="utilisateur_adresse" name="utilisateur[adresse]" required="required" maxlength="255" placeholder="Adresse" class="form-control" />
                        <!--<div id="keyboard" style=""></div>-->

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class=" form-group">

                        <input type="text" id="utilisateur_codePostal" name="utilisateur[codePostal]" required="required" placeholder="Code Postal" class="form-control" />
                        <!--<div id="keyboard_nom" style="display:none;"></div>-->

                    </div>
                </div>
            </div>
            <div class="row form-group" >
                <div class="col-sm-6">
                    <div class="form-group">

                        <input type="text" id="utilisateur_mail" name="utilisateur[mail]" required="required" maxlength="255" placeholder="Mail" class="form-control" />

                    </div>

                </div>
                <div class="col-sm-6">
                    <div class=" form-group">

                        <input type="text" id="utilisateur_tel" name="utilisateur[tel]" required="required" maxlength="255" placeholder="Téléphone" class="form-control" />
                        <!--<div id="keyboard_lieaunaissance" style="display:none;"></div>-->

                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-6">
                    <div class="form-group">

                        <input type="file" id="utilisateur_photoUrl" name="utilisateur[photoUrl]" required="required" maxlength="255" placeholder="Lien de la photo" class="form-control" />

                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">

                        <input type="password" id="utilisateur_password" name="utilisateur[password]" maxlength="255" placeholder="Mot de passe" class="form-control" />

                    </div>
                </div>
            </div>

            <center>
                <label><input class='radiorole' type="radio"  name="role" value="1" data-radio="iradio_minimal-blue" checked="checked">Particulier</label>
                <label><input class='radiorole' type="radio"  required name="role" value="2" data-radio="iradio_minimal-blue" >Artisan</label>
            </center>

            <div id="competence">
                <label>Compétences</label>
                <select class="form-control" id="demo" multiple="multiple" name="comp[]">
                    {% for comp in competences %}
                        <option value="{{comp.id}}"> {{comp.nom}} </option>
                    {% endfor %}
                </select>
            </div>

            <center>
                <button type="submit" class="btn btn-primary">Créer 
                    <span class="ti-save"></span>
                </button>
                <a href="{{path('utilisateur_index')}}" id="suipelbundle_refgouvernorat_submit" name="suipelbundle_refgouvernorat[submit]" class="btn btn-default btn-wide">Retour 
                    <span class="ti-back-right"></span>
                </a>
            </center>

        </div>
    </form>
{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function () {
            $("#competence").hide();
            $('#demo').multiselect();

            $("input[name=role]:radio").change(function () {

                //  alert($(this).val());
                switch ($(this).val()) {
                    case "1":
                        $("#competence").hide();
                        $('#demo').multiselect("clearSelection");

                        break;
                    case "2":
                        $("#competence").show();
                        break;
                }

            });
        });

    </script>
{% endblock %}
