{% extends 'base.html.twig' %}
{% block pageheader %}Recherche d'ouvriers{% endblock %}
{% block body %}

    <form method="post">

        <table class="table table-striped table-bordered table-hover">
            <tbody>
            <td>
                <select class="form-control" id="demo2" multiple="multiple" name="ouvrier[]">
                    {% for ouvrier in ouvriers %}
                        <option value="{{ouvrier.id}}"> {{ouvrier.prenom}} {{ouvrier.nom}} </option>
                    {% endfor %}
                </select>
            </td>
            </tbody>
        </table>

        <ul>
            <input type="submit" value="Affecter" class="btn btn-primary">
        </ul>

    </form>

{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function () {
            $('#demo2').multiselect({
                includeSelectAllOption: true,
                maxHeight: 200
            });
        });
    </script>
{% endblock %}
